 body {
   padding-bottom: 50px;
 }




.container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  font-family: "Marianne Regular",sans-serif;
  color: #12294d;
  font-size: 14px;
}

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.region-header .block-system-branding-block {
  margin-bottom: 1.4rem;
  width: 50%;
}

body {
  font-family: "Marianne Regular",sans-serif;
  color: #12294d;
  font-size: 14px;
}

.region-header .block-system-branding-block a {
  display: flex;
}

a {
  background-color: transparent;
}

body {
  font-family: "Marianne Regular",sans-serif;
  color: #12294d;
  font-size: 14px;
}

.region-header .block-system-branding-block .site-logo img {
  max-width: 100%;
  height: auto;
}

.region-header .block-system-branding-block .marianne {
  margin-right: 1.15rem;
  width: 89px;
  height: 80px;
}

.region-header .block-views-exposed-filter-blockresultats-de-recherche-page-1 {
  width: 100%;
  background-color: rgba(40,67,112,0.9);
  height: calc(100vh - 120px);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu--main {
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  min-height: 700px;
  background-color: #fff;
  z-index: 10;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

nav {
  background-color: #fff;
  padding: 0 20px;
  border-radius: 40px;
  box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  position: relative;
}
.nav-item {
  color: #83818c;
  font-family: arial, sans-serif;
  padding: 20px;
  margin: 0 6px;
  position: relative;
}


.nav-item:before {
  content: "";
  position: absolute;
  bottom: -6px;
  background-color: #dfe2ea;
  height: 5px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  left: 0;
  transition: .3s;
}

.nav-item:not(.is-active):hover:before {
  bottom: 0;
}
.nav-item:not(.is-active):hover {
  color: #333;
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  transition: .4s;
  border-radius: 8px 8px 0 0;
}

.block-views-exposed-filter-blockresultats-de-recherche-page-1 {
  nav-right: auto;
}

body {
  background-image: url(https://img.freepik.com/free-vector/stream-binary-code-design_53876-100689.jpg);
}

footer {
    position: fixed; /* Fixe le footer en bas de la fenêtre */
    right: 3%;
    bottom: 1%; /* Aligne en bas */
    width: 95%; /* Prend toute la largeur */
    background-color: rgba(51,51,51,0.8); /* Couleur de fond du footer */
    color: white; /* Couleur du texte du footer */
    text-align: center; /* Centre le texte dans le footer */
    padding: 5px; /* Espace autour du texte */
    border-radius: 10px; /* Arrondi les coins du footer */;
}